@model List<User>;

<style>
    body {
        margin: 50px 0;
        width: 100%;
        display: grid;
        place-content: center;
        place-items: center
    }

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    table {
        border-collapse: collapse;
        box-sizing: border-box;
        width: 900px;
        height: 100%;
        border: 1px solid #e5e5e5;
    }
    tr>th{
       
        text-align:left;
    }

    tr, td, th {
        font-size:medium;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight:600;
        border-collapse: collapse;
        max-width: 100%;
        height: 100%;
        padding:12px 15px;
        border: 1px solid #e5e5e5;
        color:#222;
    }

    thead {
        border-collapse: collapse;
        background: #555;
        height: 5vh;
    }

    tbody {
        border-collapse: collapse;
        height: 100%
    }

</style>
<table>
    <thead>
        <tr>
            <th class="no">№</th>
            <th class="name">Name</th>
            <th>SurName</th>
            <th>Age</th>
            <th>PhoneNumber</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td class="no">@user.Id</td>
                <td class="name">@user.Name</td>
                <td>@user.SurName</td>
                <td>@user.Age</td>
                <td>@user.PhoneNumber</td>
            </tr>
        }
    </tbody>
</table>
